.gpa-container {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: white; /* Light pink */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #000;
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
}

.form-control .MuiInputLabel-root {
  background-color: white;
  padding: 0 4px;
}

.form-control .MuiOutlinedInput-root {
  background-color: white;
}
